canvas {
    border: 2px solid #000000;
}

.green-indicator {
    width: 2vw;
    height: 2vw;
    background-color: #44aa44;
}

.gray-indicator {
    width: 2vw;
    height: 2vw;
    background-color: #444444;
}