.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.world {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
}

.box1 {
  background-color: aquamarine;
  max-width: 250px;
}

.circle1 {
  background-color: red;
  color: #ffffff;
  text-align: center;
  height: 100px;
  width: 100px;
  /* to make the text at center */
  line-height: 100px;
}
